* {margin:0; padding:0; font-family:'Nanum Gothic', sans-serif; font-size:14px; line-height:1.6;}
img {max-width:100%;}
.hidden {position:absolute; width:1px; height:1px; margin:-1px; overflow:hidden; clip:rect(0 0 0 0);}

.product-wrap {max-width:480px; margin:0 auto 100px; padding:0 15px; overflow:hidden;}
.product-info {margin-top:40px;}
.product-info .product-tit {margin:0; font-family:'Do Hyeon', sans-serif; font-size:42px;}
.product-info .product-price {display:block; margin-bottom:15px; font-size:18px;}
.product-info .product-exchange {color:orangered;}
.product-form {margin-top:40px;}
.product-btn {margin-top:40px; text-align:center;}

.order-list {margin-top:50px;}
.order-table {width:100%; text-align:center;}
.order-table th {padding:8px 10px; border-top:1px solid #777; border-bottom:1px solid #777; background-color:#eee;}
.order-table td {padding:8px 10px; font-size:12px; border-bottom:1px solid #999;}